html,
body {
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

main button {
  width: 100%;
  max-width: 800px;
}

.video {
  border: 1px dashed #ddd;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 20px;
}

.video p {
  margin: 0;
}

#local-media,
#remote-media {
  margin: 0;
  padding: 0;
  gap: 20px;
  width: 100%;
  min-height: 400px;
  background-color: rgba(155, 77, 202, 0.1);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(255, 255, 255, 0.5) 35px,
    rgba(255, 255, 255, 0.5) 70px
  );

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#local-media {
  margin-bottom: 20px;
}

video {
  width: 100%;
  padding: 20px;
}
